.myNavbar {
  background-color: blueviolet;
  min-height: 50px;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
}
.links {
  text-decoration: none;
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 10px;
  margin: 1rem;
}
